@import url("home.less");
.menu {
	width: 90%;
	padding: 0 5%;
	height: 45px;
	line-height: 45px;
	background: @color-900;
	color: white;
	position: fixed;
	top: 50px;
	text-align: center;
	overflow: hidden;
	left: 0;
	a {
		color: white;
		text-decoration: none;
		font-family: "Roboto", sans-serif;
		transition: color 0.2s, background 0.2s;
		margin: 0 2px;
		padding: 20px 15px;
		&:hover {
			background: white;
			color: @color-900;
		}
	}
}

.dashboard {
	width: 20%;
	min-width: 300px;
	position: fixed;
	top: 95px;
	z-index: 1;
	padding: 15px;

	background: @color-darkgray;
	color: white;
	font-family: "Roboto", sans-serif;
	h2 {
		font-weight: 300;
	}
	a {
		text-decoration: none;
	}
	.tile {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		margin: 7px;
		.inner {
			color: white;
			text-align:center;
		}

	}
	.dashtable {
		width: 260px;
		height: 60%;
		max-height: 60%;
		min-width: 230px;
		padding: 15px 5%;
		background: #2B2B2B;
		margin: auto;
		overflow-y: auto;
		td {
			display: inline-block;
			margin: 0 10px 10px 0;
			text-align:center;
		}
	}

	a.button {
		padding: 15px;
		background: inherit;
		border: 1px solid white;
		color: white;
		text-decoration: none;
		transition: color 0.2s, background 0.2s;

		&:hover {
			background: white;
			color: black;
		}
	}

}

.page {
	display: block;
	padding: 15px;
	margin-top:95px;
	float: right;
	text-align: left;
	overflow-y: auto;
}
