@import url("style.less");

header {
	height: 50px;
	line-height: 50px;
	background: @color-700;
	width: 95%;
	z-index: 99 !important;
	padding: 0 2.5%;
	color: white;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	#title {
		font-size: 1.8em;
		font-family: "Montserrat", sans-serif;
		display: inline-block;
		float: left;
		color: white;
		padding: 0 10px;
		text-decoration: none;
		transition: color 0.2s, background 0.2s;
		&:hover {
			background: white;
			color: @color-500;
		}
	}
	.items {
		float: right;
		a {
			text-decoration: none;
			color: white;
			transition: color 0.2s, background 0.2s;
			padding: 20px 25px;
			&:hover {
				background: white;
				color: @color-500;
			}
		}
	}
}
