@import url("style.less");

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background: linear-gradient( rgba( 0,0,0,0.8 ), rgba( 0,0,0,0.8 ) ), url("../resources/img/cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.login {
	width: 45%;
	text-align:center;
	max-width: 550px;
	margin: auto;
	font-family: "Roboto", sans-serif;
	//box-shadow: 0px 0px 5px 2px @color-900;
	.top {
		padding: 20px;
		background: @color-500;
		color: white;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		font-weight: normal;
	}
	.bottom {
		padding: 20px;
		background: white;
		color: @color-darkgray;
		input[type=text], input[type=password], input[type=email] {
			padding: 12px;
			border: 1px solid @color-darkgray;
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			margin-top: 2px;
		}
		input[type=submit] {
			border: 2px solid @color-500;
			color: @color-500;
			padding: 10px 40px;
			background: inherit;
			font-size: 1.1em;
			font-family: "Roboto", sans-serif;
			transition: color 0.2s, background 0.2s;
			&:hover {
				background: @color-500;
				color: white;
				cursor: pointer;
			}
		}
		a {
			color: @color-800;
			font-size: 12px;
		}
	}
	.error {
		padding: 10px;
		color: red;
		font-family: "Roboto", sans-serif;
	}
}

footer {
	position: fixed;
	bottom: 15px;
	left: 0;
	height: 35px;
	line-height: 35px;
	width: 100%;
	text-align:center;

	color: white;
	font-family: "Roboto Light", sans-serif;
	a {
		color: white;
		color: rgba( 255, 255, 255, 0.5 );
		text-decoration: none;
		font-size: 12px;
		margin: 0 5px;
		&:hover {
			text-decoration: underline;
		}
	}
}
