@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
* {
	margin: 0;
	padding: 0;
}

@color-50: #E3F2FD;
@color-100: #BBDEFB;
@color-200: #90CAF9;
@color-300: #64B5F6;
@color-400: #42A5F5;
@color-500: #2196F3;
@color-600: #1E88E5;
@color-700: #1976D2;
@color-800: #1565C0;
@color-900: #0D47A1;

@color-lightgray: #EDEDED;
@color-darkgray: #212121;

body {
	position: relative;
	background: @color-lightgray;
}

header {
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-weight: lighter;
	height: 100px;
	line-height: 100px;
	h1 {
		text-align:center;
		color: @color-darkgray;
		font-size: 2.5em;
	}
}

.spacer {
	clear: both;
}

#contextmenu {
	display: none;
	z-index: 100 !important;
}

menu {
	position: fixed;
	display: block;
	left: 0px;
	top: 0px;
	height: 20px;
	width: 20px;
	padding: 5px;
	margin: 0;
	border: 1px solid;
	white-space: nowrap;
}
menu:hover{
    background-color:#eef;
    font-weight:bold;
}
menu:hover > menu{
    display:block;
}
menu > menu{
    display:none;
    position:relative;
    top:-20px;
    left:100%;
    width:55px;
}
menu[title]:before{
    content:attr(title);
}
menu:not([title]):before{
    content:"\2630";
}
