@import url("home.less");
body {
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
}
.cover {
	height: 350px;
	position: relative;
	left: 300px;

	padding: 0 45px;
	background: @color-900;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	h1 {
		font-size: 3em;
		font-family: "Roboto", sans-serif;
		font-weight: normal;
	}
	a {
		font-size: 1.3em;
		color: white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.content {
	z-index: 1 !important;
	position: relative;
	top:50px;
	left: 350px;
	padding: 30px;
	font-size: 125%;
	* {
		font-weight: normal;
	}
	hr {
		color: #212121;
		border: none;
		height: 1px;
		background-color: #212121;
	}
	ul {
		margin-left: 55px;
	}
}

.menu {
	width: 300px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	background: #212121;
	hr {
		width: 90%;
		margin: auto;
		border: none;
		height: 1px;
		color: white;
		background-color: white;
	}
	h2 {
		text-align:center;
		font-weight: normal;
		color: white;
	}
	a.item {
		display: block;
		padding: 25px;
		color: white;
		text-decoration: none;
		font-size: 1.2em;
		&:hover {
			background: white;
			color: #212121;
		}
	}
	.menusection {
		.submenu {
			display: hidden;
			.item {
				padding: 15px;
				margin-left: 35px;
				border-left: 1px solid white;
			}
		}
	}
}
