@import url("style.css");

.new {

	width: 60%;
	min-width: 350px;
	margin: auto;

}

.new .bottom p.title {
	margin: 3px 0; 
	font-weight: bold;
	font-size: 18px;
}

#cke_announcebody {
	width: 60%;
	margin: 7px auto;
}

.new .top {
	padding: 30px;
	background: #2196F3;
	color: white;
}
.new .bottom {
	padding: 30px;
	background: white;
	color: #212121;
	text-align:center;
}

.new .bottom p.title {
	margin: 3px 0; 
}

.new .bottom .announcement {
	width: 60%;
	margin: auto;
	font-size: 16px;
}

.new .bottom .announcement .title {
	color: white;
	padding: 5px;
}

.new .bottom .announcement .title:hover {
	cursor: pointer;
}

.new .bottom .announcement .body {
	display: none;
	text-align:left;
	padding: 10px;
}

.new .bottom .announcement .title #more {
	font-size: 12px;
	color: white;
}

.new .bottom .announcement.red .title {
	background: #F44336;
}
.new .bottom .announcement.red .body {
	background: #EF9A9A;
	color: #212121;
}

.new .bottom .announcement.green .title {
	background: #43A047;
}
.new .bottom .announcement.green .body {
	background: #C8E6C9;
	color: #212121;
}
.new .bottom .announcement.yellow .title, .new .bottom .announcement.yellow .title #more {
	background: #FDD835;
	color: #212121;
}
.new .bottom .announcement.yellow .body {
	background: #FFF59D;
	color: #212121;
}

.new .bottom .announcement.blue .title {
	background: #2196F3;
}
.new .bottom .announcement.blue .body {
	background: #90CAF9;
	color: #212121;
}


.new .bottom .announcement.normal .title {
	background: #E0E0E0;
	color: #212121;
}

.new .bottom .announcement.normal .body {
	background: #EEEEEE;
}

.new .bottom .announcement.normal .title #more {
	color: #616161;
}



.new .bottom .icons {
	width: 75%;
	height: 200px;
	border: 1px solid gray;
	margin: auto;
	padding: 10px;
	background: #EEEEEE;

	overflow-y: scroll;

	border-radius: 4px;

	-webkit-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
}

.new .bottom .icons .icon {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	width: 100px;
	height: 100px;
	background: #D6D6D6;
	color: #212121;
	margin: 2px 0;
}

.new .bottom .icons .icon .ico { /*confusing, right? haha*/
	font-size: 16px;
}

.new .bottom .clubs {
	width: 75%;
	height: 200px;
	border: 1px solid gray;
	margin: auto;
	padding: 10px;
	background: #EEEEEE;

	overflow-y: scroll;

	border-radius: 4px;

	-webkit-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 35px -13px rgba(0,0,0,0.75);
}