@import url("style.css");

.club {
	width: 60%;
	min-width: 350px;
	margin: auto;
}

.club .top {
	padding: 30px;
	background: #2196F3;
	color: white;
}
.club .bottom {
	padding: 30px;
	background: white;
	color: #212121;
	text-align:center;
}

#cke_descr {
	width: 60%;
	margin: 3px auto;
}
.club .bottom p.title {
	margin: 3px 0; 
	font-weight: bold;
	font-size: 18px;
}

#result {
	margin: auto;
	width: 65%;
	background: white;
	marin-bottom: 5px;
}
#result .ls-result {
	display: block;
	padding: 10px;
}
#result .ls-result.dark {
	background: gray;
}
#result .ls-result .name {
	float: left;
	width: 45%;
	color: black;
}

#result .ls-result .username {
	float: right;
	width: 45%;
	color: gray;
}

.colour {
	padding: 10px 20px;
	display: inline-block;
}

input.del {
	border: 1px solid #D32F2F;
	color: #D32F2F;
	transition: color 0.2s, background 0.2s;
}

input.del:hover {
	background: #D32F2F;
	color: white;
	border: 1px solid #D32F2F;
}

input.save {
	border: 1px solid #2196F3;
	font-size: 18px;
	padding: 15px;
	height:auto;
	color: #2196F3;
	transition: color 0.2s, background 0.2s;
}

input.save:hover {
	background: #2196F3;
	border: 1px solid #2196F3;
	color: white;
}