@import url("style.css");

.new {

	width: 60%;
	min-width: 350px;
	margin: auto;

}

#cke_descr {
	width: 60%;
	margin: 3px auto;
}

#descr {
	width: 80%;
}

.new .top {
	padding: 30px;
	background: #2196F3;
	color: white;
}
.new .bottom {
	padding: 30px;
	background: white;
	color: #212121;
	text-align:center;
}

.new .bottom p.title {
	margin: 3px 0; 
}