@import url("metro-schemes.min.css");
@import url("metro-colors.min.css");
@import url("metro-rtl.min.css");
@import url("metro-responsive.min.css");
@import url("metro-icons.min.css");
@import url("metro.min.css");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

#header {
	font-family: "Roboto", sans-serif;
	background: #2196F3;
	padding: 10px;
}

#header > li > a {
	font-family: "Roboto", sans-serif;
	color: white;
}

body {
	background: #424242;
}

.dashboard {
	width: 80%;
	min-height: 500px;
	margin: auto;
	background: #212121;
	padding: 30px;
}
.dashboard .inner-tiles {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.dashboard .tile-content {
	color: white;
}

.dashboard .tile-content .slide {
	text-align:center;
	font-size: 1.3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.dashboard .tile-content .slide div {
	width: 80%;
	margin: auto;
}

.dashboard .tile-content .slide-over {
	color: #212121;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.dashboard .tile-content .slide-over div {
	width: 80%;
	margin: auto;
}

.dashboard h1 {
	color: white;
}
.spacer {
	clear: both;
}

.noclub {
	color: white;
	font-size: 18px;
	text-align:center;
	padding: 20px;
	background: #C62828;
}

.noclub a {
	text-decoration: none;
	color: #FFCDD2;
}

.noclub a:hover {
	text-decoration: underline;
}